includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/pepakriz/phpstan-exception-rules/extension.neon
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - tests/PHPStan/disallowedCalls.neon

parameters:
    level: max
    paths:
        - src

    exceptionRules:
        uncheckedExceptions:
            - LogicException
            - Nette\Application\AbortException
            - Nette\Application\UI\InvalidLinkException
            - Nette\InvalidStateException

    ignoreErrors:
        -
            path: src/AutocompleteInput/AutocompleteInput.php
            message: '~PHPDoc tag @throws with type Nette\\Application\\UI\\BadSignalException is not compatible with parent~'
